@model SuperHeroProject.Models.Hero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Heroes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="heroName" class="control-label"></label>
                <input asp-for="heroName" class="form-control" />
                <span asp-validation-for="heroName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aliasFirstName" class="control-label"></label>
                <input asp-for="aliasFirstName" class="form-control" />
                <span asp-validation-for="aliasFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aliasLastname" class="control-label"></label>
                <input asp-for="aliasLastname" class="form-control" />
                <span asp-validation-for="aliasLastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primaryAbility" class="control-label"></label>
                <input asp-for="primaryAbility" class="form-control" />
                <span asp-validation-for="primaryAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secondaryAbility" class="control-label"></label>
                <input asp-for="secondaryAbility" class="form-control" />
                <span asp-validation-for="secondaryAbility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="catchPhrase" class="control-label"></label>
                <input asp-for="catchPhrase" class="form-control" />
                <span asp-validation-for="catchPhrase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
